/* Defaults */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	src: url(/assets/fonts/montserrat.woff2) format('woff2 supports variations');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/montserrat-italic.woff2) format('woff2 supports variations');
	font-style: italic;
	font-weight: 100 900;
}

:root {
	--font-family: Montserrat, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

:root {
	--color-gray-20: oklch(0.98 0 0);
	--color-gray-80: oklch(0.3 0 0);
	--color-navy: oklch(25.82% 0.1211 275.62);
	--color-blue: oklch(45.65% 0.2913 273.09);
	--color-mint: oklch(92.29% 0.109 147.56);
	--color-teal: oklch(76.14% 0.1295 197.95);
	--color-magenta: oklch(67.38% 0.30545463132006684 331.0859131196989);
	--color-beige: oklch(95.16% 0.0245 83.42);

	--bg-color: var(--color-beige);
	--bg-color-reversed: var(--color-navy);
	--bg-color-alt: var(--color-beige);
	--bg-color-nav:  var(--color-gray-bg);

	--color-text: var(--color-navy);
	--color-text-reversed: var(--color-gray-bg);
	--color-text-link: var(--color-blue);
	--color-text-link-reversed: var(--color-teal);
	--color-text-link-active: var(--color-navy);
	--color-gray: var(--color-gray-80);
	--color-gray-bg: var(--color-gray-20);

	--color-logo-block: var(--color-blue);

	--bg-color-form: oklch(from var(--color-gray-bg) calc(l * 1.25) c h);

	--separator: 1px dashed var(--color-text-link);

	--syntax-tab-size: 2;

  --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --s0: clamp(1rem, 1rem + 0vw, 1rem);
  --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
  --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);

	--measure-dynamic: clamp(var(--s-1), 5%, var(--s5));

  --corner-radius-1x: var(--s1);
	--corner-shape: squircle;

	--font-size-base: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: var(--color-navy);
		--bg-color-alt: var(--color-blue);

		--color-text: var(--color-gray);
		--color-text-reversed: (--color-gray-bg);
		--color-text-link: var(--color-teal);
		--color-text-link-active: var(--color-mint);

		--color-logo-block: var(--color-gray-20);

		--color-gray: var(--color-gray-20);
		--color-gray-bg: var(--color-gray-80);

	--bg-color-form: oklch(from var(--color-gray-bg) calc(l * .75) c h);

	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

:root {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--color-text);
	background-color: var(--bg-color);

	.color-reversed {
		color: var(--color-text-reversed);
		background-color: var(--bg-color-reversed);

		a[href] {
			color: var(--color-text-link-reversed);
		}

		.button {
			border-color: var(--color-text-link-reversed);

			&:hover {
				color: var(--color-text-link);
				background-color: var(--color-text-reversed);
			}

			&.button-primary {
				color: var(--color-text);
				background-color: var(--bg-color);
				border-color: transparent;

				&:hover {
					color: var(--color-text-link-reversed);
					background-color: var(--color-text);
					border-color: var(--color-text-link-reversed);
				}
			}
		}

		.heading-small {
			color:  var(--color-text-link-reversed);
		}
	}

	.color-alt {
		background-color: var(--color-gray-bg);

		.button-primary {
			color: var(--color-text-reversed);
			background-color: var(--bg-color-reversed);
			border-color: transparent;

			&:hover {
				background-color: var(--color-text-reversed);
				border-color: var(--color-text-link-active);
			}
		}
	}

	.inline-wrapper,
	.color-reversed,
	.color-alt {
		padding-inline: var(--measure-dynamic);
		margin-block-start: 0;
	}
}

@media screen and (prefers-color-scheme:dark) {
	html,
	body {
		.color-reversed {
			.button {
				&:hover {
					color: var(--bg-color);
					background-color: var(--color-text);
					border-color: var(--color-text-link-reversed);
				}

				&.button-primary {
					color: var(--bg-color-alt);
					background-color: var(--color-text);
					border-color: var(--bg-color-alt);

					&:hover {
						color: var(--color-text-link);
						background-color: transparent;
						border-color: var(--color-text-link);
					}
				}
			}
		}
	}
}

html {
	overflow-y: scroll;
}

center-l {
	inline-size: 100%;
}

header a {
	text-decoration: none;x
}

#header-topper-inner {

	span {
		color: var(--color-text-link-reversed);
	}

	small {
		font-size: small;
		font-weight: 700;
	}
}

#header-logo-tb,
#header-logo-serket {
	display: inline-block;
	inline-size: clamp(64px, 30dvi, 196px);
	block-size: auto;
}

.header-logo-sep {
	color: var(--color-logo-block);
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

p {
	text-wrap: pretty;
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	orphans: 3;
	widows: 3;
	font-size: var(--font-size-base);

	&:empty {
		width: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		margin: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	line-height: 1;
	font-weight: 700;
}

h1 {
	font-size: clamp(1.063rem, 0.5rem + 2.5vw, 2.5rem);
}

h2 {
	font-size: clamp(0.875rem, 0.386rem + 2.174vw, 2.125rem);
}

h3 {
	font-size: clamp(0.875rem, 0.582rem + 1.304vw, 1.625rem);
}

h4 {
	font-size: clamp(0.625rem, 0.307rem + 1.413vw, 1.438rem);
}

h5 {
	font-size: clamp(0.5rem, 0.231rem + 1.196vw, 1.188rem);
}

.heading-small,
.footer-links h5 {
		color: var(--color-text-link);
		letter-spacing: .25em;
		font-size: small;
		font-weight: 700;
		font-variant: small-caps;
		line-height: 1.1;
}

.footer-links {

	h5 {
	color: var(--color-gray-20);
	}

	ul {
		padding-inline-start: 0;
		list-style: none;
	}

	li:not(:last-of-type) {
		margin-block-end: var(--s0);
	}

	a {
		text-decoration: none;
	}
}

.sub-hed {
	font-size: clamp(1.7rem, 3.4vw, 2rem);
	font-weight: 700;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-inline-size: 100%;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-inline-size: none;
}

video,
iframe {
	width: 100%;
	height: auto;
}

iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-block-end: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

dl, ol, ul {
	font-size: var(--font-size-base);
}

ol.circle-counter {
  list-style: none;
  counter-reset: tb-counter;

	li {

		h4 {
			counter-increment: tb-counter;
			margin: 0.25rem;

			&::before {
				content: counter(tb-counter);
				background: var(--color-text);
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				display: inline-block;
				line-height: 2rem;
				color: var(--bg-color);
				text-align: center;
				margin-right: .5rem;
			}
		}

		p {
			margin-inline-start: 3rem;
		}
	}

}

a[href] {
	color: var(--color-text-link);
}

a[href]:hover,
a[href]:active {
	color: var(--color-text-link-active);
}

header {
	padding-inline-end: var(--measure-dynamic);
	padding-block: var(--s1);

	&#header-topper {
		padding-block: var(--s-5);
	}
}

header {
	font-size: var(--font-size-base);
}

footer {
	margin-block-start: var(--s1);
	padding-block-start: var(--s1);
	font-size: 16px;

	p, ul {
		font-size: 16px;
	}

	.wrapper:first-of-type {
		border-block-start: 1px solid var(--color-gray-20)
	}
}

#skip-link {
	text-decoration: none;
	background: var(--bg-color);
	color: var(--color-text);
	padding: var(--s-1) var(--s1);
	border: 1px solid var(--color-gray-20);
	border-radius: var(--corner-radius-1x);
	corner-shape: var(--corner-shape);
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	inset-block-start: var(--s1);
	inset-inline-start: var(--s1);
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: inline-start;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}

code {
	word-break: break-all;
}

/* Header */

#nav-wrapper {
	background-color: var(--bg-color-nav);
}

nav {
	font-weight: 700;

	.button:hover {
		color: var(--bg-color);
		background-color: var(--color-text);
	}
}

.footer-nav-item {
	display: inline-block;
}

.wrapper {
	padding-block: var(--s1);
	margin-block: var(--s1);
	&#header-wrapper {
		padding-block: 0;
		margin-block: 0;
	}

	&.footer {
		padding-block-start: var(--s5);
	}
}

.brochure-wrapper {
	padding: var(--measure-dynamic);
	border: 1px dashed var(--color-text-link);
	border-radius: var(--corner-radius-1x);
}

.button,
.wFormContainer .actions input.primaryAction {
	display: inline-block;
  padding: var(--s1) var(--s2);
	max-inline-size: fit-content;
	border: 1px solid var(--color-text-link);
	border-radius: var(--corner-radius-1x);
	corner-shape: var(--corner-shape);
	font-family: var(--font-family);
	font-weight: 700;
  font-size: var(--s1);
	text-transform:lowercase;
	font-variant: small-caps;
	text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
	text-decoration: none;
  color: var(--color-text-link);
  background-color: transparent;

	&.pill {
		padding: var(--s0) var(--s1);
		border-radius: 40px;
		corner-shape: unset;

		h2.heading-small {
			color: var(--color-gray-bg);
		}
	}
}

.button:hover,
.wFormContainer .actions input.primaryAction:hover {
	color: var(--bg-color-alt);
	background-color: var(--color-text);
}

.button-seminar-wrapper {
	max-inline-size: 40%;
}

form {
	background-color: var(--bg-color-form);
	border-radius: var(--corner-radius-1x);
}

.wFormContainer .wForm {
	background-color: transparent!important;
}

.wFormContainer .wForm .label,
.wFormContainer .field-hint-inactive {
	font-family: var(--font-family);
}

.wFormContainer input[type=radio] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
	margin-inline-end: .5em;
}

#cards stack-l {
	margin-block-end: var(--s1);
}

.cards-wrapper {
	background-color: var(--bg-color-alt);
	container: cards / inline-size;
}

.card,
.seminar {
	inline-size: 100%;
	padding: var(--s2);

	border-radius: var(--corner-radius-1x);
	corner-shape: var(--corner-shape);
}

@media screen and (prefers-color-scheme:dark) {

	.seminar {
		.button-seminar-wrapper .button-primary,
		.button-primary.pill {
		color: var(--color-gray-bg);
		background-color: var(--color-text);
		}

		.button-seminar-wrapper .button-primary:hover {
			color: var(--color-text);
		}
	}

}

.card {
	background-color:  var(--color-gray-bg);
	border-block-start-width: var(--s-5);
	border-block-start-style: solid;

	&:nth-of-type(1) {
		border-block-start-color: var(--color-blue);
	}

	&:nth-of-type(2) {
		border-block-start-color: var(--color-teal);
	}

	&:nth-of-type(3) {
		border-block-start-color: var(--color-magenta);
	}

	&.services {
		padding-block: var(--s0);
		padding-inline: var(--s1);
		background-color: var(--bg-color);
		text-align: center;

		span:first-of-type {
			font-size: 2rem;
			font-weight: 700;
		}

		p:nth-of-type(2) {
			margin-block-start: 0;
		}
	}
}

@container cards (width > 62ch) {
	.card {
		inline-size: 47%;
	}
}

@container cards (width > 93ch) {
	.card {
		inline-size: 31%;
	}
}

.seminar {
	background-color: var(--bg-color);
}

.ol li {
	margin-block-end: var(--s1);
}

abbr:hover {
	cursor: pointer;
}

@media (pointer: coarse) {
	abbr {
		text-decoration: none;

		&::before {
			content: attr(title) ' (';
		}

		&::after {
			content: ')';
		}
	}
}

.subhed {
	font-style: italic;
}

:focus-visible {
	outline-offset: .25rem;
}

button icon-l {
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
}

icon-l svg {

}

[data-i="Icon-0.5em"] {
	align-items: center!important;
}

.svg-inline {
	display: inline-block;
  height: 1em;
  height: 1.5cap;
  width: 1em;
  width: 1.5cap;
	vertical-align: middle;

	&.after {
		margin-inline-start: .5em;
	}

	&.before {
		margin-inline-end: .5em;
	}
}

.footnotes {
  margin-inline: auto;
	inline-size: 100%;
	max-inline-size: 80ch;
}

hr.footnotes-sep {
	inline-size: 100%;
	max-inline-size: 100ch;
	margin-inline: auto;
	margin-block-start: 2.5rem;
	border-block-start: var(--separator);
	border-block-end: 1px solid var(--bg-color);
}

heading-anchors:not(:defined) :is(h2,h3,h4,h5,h6):after {
	content: "#";
	padding: 0 .25em;
	opacity: 0;
}

.case-study-wrapper {
	padding-inline: var(--measure-dynamic);
	padding-block: var(--s2);
	border-radius: var(--corner-radius-1x);
	corner-shape: var(--corner-shape);
	background-color: rgba(255, 255, 255, .05);
}

.pullquote {
	border-inline-start: 4px solid var(--color-magenta);
  padding-left: 1rem;
  font-style: italic;
  font-size: 1.5rem;
}

.centered {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
	object-fit: contain;
}
