/* Defaults */
@font-face {
	font-family: 'Lora';
	src: url(/assets/fonts/lora.woff2) format('woff2 supports variations');
	font-style: normal;
	font-weight: 400 700;
}

@font-face {
	font-family: 'Lora';
	src: url(/assets/fonts/lora-italic.woff2) format('woff2 supports variations');
	font-style: italic;
	font-weight: 400 700;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	src: url(/assets/fonts/montserrat.woff2) format('woff2 supports variations');
	font-weight: 100 900;
}

@font-face {
	font-family: 'Montserrat';
	src: url(/assets/fonts/montserrat-italic.woff2) format('woff2 supports variations');
	font-style: italic;
	font-weight: 100 900;
}

:root {
	--font-family: 'Lora', serif;
	--font-family-sans: Montserrat, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #3a00f4;
	--text-color-link-active: var(--color-gray-90);

	--syntax-tab-size: 2;

	--separator: 1px dashed var(--color-gray-20);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #00cacf;
		--background-color: #18155c;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

:root {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}

body {
	max-inline-size: 160ch;
	padding-inline: clamp(.5rem, 5%, 2rem);
}

header a {
	text-decoration: none;
}

#header-logo-tb,
#header-logo-serket {
	display: inline-block;
	inline-size: clamp(64px, 196px, 100%);
	block-size: auto;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-inline-size: 100%;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-inline-size: none;
}

video,
iframe {
	width: 100%;
	height: auto;
}

iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-block-end: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}

main :first-child {
	margin-block-start: 0;
}

main {
	max-inline-size: 80ch;
}

header {
	border-block-end: var(--separator);
}

footer {
	margin-block-start: 1rem;
	border-block-start: var(--separator);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	inset-block-start: 1rem;
	inset-inline-start: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: inline-start;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-block: 1em;
}

nav {
	font-family: var(--font-family-sans);
	font-weight: 700;
}

.footer-nav-item {
	display: inline-block;
}

.button,
.wFormContainer .actions input.primaryAction {
	display: inline-block;
  padding: 1rem 1.25rem;
	border: 1px solid var(--color-gray-90);
	border-radius: .75rem;
	font-family: var(--font-family-sans);
	font-weight: 700;
  font-size: 1rem;
	text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
	text-decoration: none;
  color: var(--text-color-link);
  background-color: transparent;
}

#cards stack-l {
	margin-block-end: 1rem;
}

.card {
	inline-size: clamp(25ch, 25%, 80ch);
	padding: 1.25rem;
	border: 1px solid var(--text-color);
	border-radius: .75rem;
}

.ol li {
	margin-block-end: 1rem;
}

.subhed {
	font-style: italic;
}

.important {
	font-weight: 700;
}

:focus-visible {
	outline-offset: .25rem;
}
