/* https://www.joshwcomeau.com/css/custom-css-reset/ */

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  :where(html) {
    scrollbar-gutter: stable;
  }

  body {
    line-height: calc(1.15em + 0.5rem);
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-lines: 1;

    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    /* CSS4 below; not currently supported in any browser */
    hyphenate-limit-lines: 1;
    hyphenate-limit-zone: 8%;
    hyphenate-limit-last: always;
  }
}
