<footer>
  <stack-l space="1rem">
    <cluster-l justify="space-around" align="center" gap="1rem">
      <span class="footer-nav-item">TechBridge + Serket Tech | Atlanta, Georgia</span>
      <span class="footer-nav-item">Questions? <a href="mailto:mmisri@techbridge.org?subject=Techbridge+Serket-Tech">Contact Manish</a></span>
      <span class="footer-nav-item"><a href="https://techbridge.org" target="_blank" rel="external noopener">TechBridge.org</a></span>
      <span class="footer-nav-item"><a href="https://serkettech.com" target="_blank" rel="external noopener">SerketTech.com</a></span>
    </cluster-l>
    <p>Copyright © 2026 Techbridge Inc. All rights reserved.</p>
  </stack-l>

  <!-- Web components, including Every Layout -->
  <!-- Load only if needed -->
  <script>
    if (document.querySelector('box-l')) {
      import('/assets/js/Box.js');
    };
    if (document.querySelector('center-l')) {
      import('/assets/js/Center.js');
    };
    if (document.querySelector('cluster-l')) {
      import('/assets/js/Cluster.js');
    };
    if (document.querySelector('container-l')) {
      import('/assets/js/Container.js');
    };
    if (document.querySelector('cover-l')) {
      import('/assets/js/Cover.js');
    };
    if (document.querySelector('frame-l')) {
      import('/assets/js/Frame.js');
    };
    if (document.querySelector('grid-l')) {
      import('/assets/js/Grid.js');
    };
    if (document.querySelector('icon-l')) {
      import('/assets/js/Icon.js');
    };
    if (document.querySelector('imposter-l')) {
      import('/assets/js/Imposter.js');
    };
    if (document.querySelector('reel-l')) {
      import('/assets/js/Reel.js');
    };
    if (document.querySelector('sidebar-l')) {
      import('/assets/js/Sidebar.js');
    };
    if (document.querySelector('stack-l')) {
      import('/assets/js/Stack.js');
    };
    if (document.querySelector('switcher-l')) {
      import('/assets/js/Switcher.js');
    };
  </script>
  <script src="https://www.tfaforms.com/publish/5221985" data-qp-target-id="fa-contact-form" defer></script>
</footer>
