<div class="topbar">
  <div class="container">
    <span>A collaboration between <a href="https://techbridge.org/" target="_blank" rel="external noopener">Techbridge</a> and <a href="https://serkettech.com" target="_blank" rel="external noopener">Serket-Tech Security</a></span>
    <span>Atlanta, Georgia</span>
  </div>
</div>
