<!doctype html>
<html lang="{{ metadata.language }}">

  {% include "layouts/_head.njk" %}
  <body>
    <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

    <center-l max="120ch" id="header-wrapper">
      {% include "layouts/_header.njk" %}
    </center-l>
    <sidebar-l side="right" sideWidth="40ch">
      {% include "layouts/_main.njk" %}
      {% include "layouts/_sidebar.njk" %}
    </sidebar-l>

    <center-l max="120ch">
      {% include "layouts/_footer.njk" %}
    </center-l>

    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
    <script type="module" src="{% getBundleFileUrl "js" %}"></script>
  </body>
</html>
