<!doctype html>
<html lang="{{ metadata.language }}">

  {% include "layouts/_head.njk" %}
  <body>
    <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
    {% include "layouts/_header.njk" %}

    <center-l max="80ch">
      {% include "layouts/_main.njk" %}
    </center-l>

    {% include "layouts/_footer.njk" %}

    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
    <script type="module" src="{% getBundleFileUrl "js" %}"></script>
  </body>
</html>
